---
import CartList from '../components/CartList.tsx';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Shop">
  <main class="container my-8">
    <h1 class="text-4xl mb-8">Cart</h1>
    <CartList client:only="react" />
  </main>
</Layout>
