---
import FavoritesList from '../components/FavoritesList.tsx';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Shop">

    <h1 class="text-4xl mb-8">Favorites</h1>
    <FavoritesList client:only="react" />

</Layout>
