---
import FavoritesCount from '../components/FavoritesCount.tsx';
import CartTotal from '../components/CartTotal.tsx';
---

<header class="bg-gray-900 text-white p-4">
  <nav class="container mx-auto flex justify-between">
    <a href="/" class="text-lg font-bold">My Store</a>
    <ul class="flex space-x-4">
      <li>
        <a href="/favorites" class="hover:underline"
          ><FavoritesCount client:load /></a
        >
      </li>
      <li>
        <a href="/cart" class="hover:underline"><CartTotal client:load /> </a>
      </li>
    </ul>
  </nav>
</header>
