<header class="bg-gray-800 text-white p-4">
  <nav class="container mx-auto flex justify-between">
    <a href="/" class="text-lg font-bold">My Store</a>
    <ul class="flex space-x-4">
      <li><a href="/" class="hover:underline">Products</a></li>
      <li><a href="/cart" class="hover:underline">Cart</a></li>
    </ul>
  </nav>
</header>
